<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Register</title>

  <!-- fontawesome icon -->
  <link rel=stylesheet href=https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css />

  <!-- style -->
  <link rel="stylesheet" href="http://localhost:8080/assets/css/output.css" />
</head>

<body>

  <div class="register flex justify-center items-center w-screen h-screen bg-slate-300">
    <div class="w-[350px] px-8 py-6 bg-white rounded-md shadow-sm">
      <h2 class="text-2xl font-bold text-center text-slate-500">
        Register
      </h2>
      <form action="/auth/user-register" method="post" enctype="multipart/form-data">
        <!-- name -->
        <div class="flex flex-col gap-1 mb-2">
          <label class="text-slate-500" for="name">Name</label>
          <input class="px-3 py-2 outline-0 border rounded-md bg-[#f9f9f9] focus:border-green-600" type="text"
            placeholder="Name..." name="name" id="name">

          <% if(error && error.name) {%>
            <p class="text-red-600 text-sm">
              <%= error.name %>
            </p>
            <%}%>
        </div>

        <!-- email -->
        <div class="flex flex-col gap-1 mb-2">
          <label class="text-slate-500" for="email">Email</label>
          <input class="px-3 py-2 outline-0 border rounded-md bg-[#f9f9f9] focus:border-green-600" type="email"
            placeholder="Email..." name="email" id="email">
          <% if(error && error.email) {%>
            <p class="text-red-600 text-sm">
              <%= error.email %>
            </p>
            <%}%>
        </div>

        <!-- password -->
        <div class="flex flex-col gap-1 mb-2">
          <label class="text-slate-500" for="password">Password</label>
          <input class="px-3 py-2 outline-0 border rounded-md bg-[#f9f9f9] focus:border-green-600" type="password"
            placeholder="Password..." name="password" id="password">
          <% if(error && error.password) {%>
            <p class="text-red-600 text-sm">
              <%= error.password %>
            </p>
            <%}%>
        </div>

        <!-- image -->
        <div class="flex flex-col gap-1 mb-4">
          <label class="text-slate-500" for="image">Image</label>
          <div
            class="flex text-slate-500 border justify-between pl-2 items-center bg-[#f9f9f9] rounded-md outline-0 overflow-hidden">
            <span id="txt">Your Image</span>
            <label class="p-2 text-white cursor-pointer bg-blue-500" for="image">Browser</label>
          </div>
          <input class="hidden" type="file" id="image" name="image">
          <% if(error && error.image) {%>
            <p class="text-red-600 text-sm">
              <%= error.image %>
            </p>
            <%}%>
        </div>

        <!-- button -->
        <button class="px-5 w-full py-2 text-white rounded-sm bg-blue-500 hover:bg-blue-600">
          Register
        </button>

        <!-- required text -->
        <div id="alert" class="p-2 my-2 bg-red-600 text-white relative rounded-sm">
          <p class="text-sm">Email already exist</p>
          <span id="close" class="absolute cursor-pointer text-lg top-[3px] right-[8px]">
            <i class="fa fa-close"></i>
          </span>
        </div>

        <!-- login link -->
        <div class="w-full text-blue-600 mt-2 flex justify-center items-center">
          <a href="/auth/login">Login account</a>
        </div>
      </form>
    </div>
  </div>

  <!-- script -->
  <script>
    // define variable
    const image = document.getElementById('image');
    const alert = document.getElementById('alert');
    const close = document.getElementById('close');

    // alert close handler
    if (alert && close) {
      close.addEventListener("click", () => {
        alert.classList.add('hidden');
      });
    }

    // image handler
    image.addEventListener('change', (e) => {
      if (e.target.files.length > 0) {
        const name = e.target.files[0].name;
        const text = document.getElementById('txt');
        text.textContent = name.slice(0, 20);
      }

    });

  </script>

</body>

</html>